Library/
Temp/
Logs/
obj/
.vs/
sort-of-war.sln
*.csproj
.vsconfig
Recordings/
Build/
UserSettings/Layouts/default-2022.dwlt
SS/
*.sln
.utmp/
Builds/
UserSettings/Layouts/default-6000.dwlt
Assets/SerializedStorage/StatData.xml
Assets/SerializedStorage/StatData.xml.meta
